extends layout

mixin actionLink(anchorClass, role, link, icon, text, onclick)
  a(type="button", role=role, class=anchorClass, href=link)
    i(class="fa fa-" + icon)
      span #{text}

mixin editButton(anchorClass)
  +actionLink(anchorClass, 'edit', '/' + slug + '/edit', 'edit', 'Edit')

mixin deleteButton(anchorClass)
  +actionLink(anchorClass, 'delete', '/' + slug + '/delete', 'trash-o', 'Delete')


block content
  .pageHeader
    .actions
      .visible-xs
        .btn-group
          button.btn.btn-default.dropdown-toggle(data-toggle="dropdown", type="button")
            i.fa.fa-chevron-circle-down
          ul.dropdown-menu.pull-right(role="menu")
            li
              +editButton()
            li
              +deleteButton()
      .hidden-xs
        .btn-group
          +editButton('btn btn-default')
          +deleteButton('btn btn-default')

    h1 #{title}


  .pageBody !{body}


  .lastEdit
    p Last edited <span class="author">!{ prettyPrintAuthor(lastEdit.author) }</span> <span class="date">!{ prettyPrintDate(lastEdit.date) }</span>
